html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    /*height: 100vh;*/
    margin: 0;
}


.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}


.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


.content-block{
    margin-top: 50px;
}

.caption{
    text-align: center;
    margin-top: 15px;
}

.modal{
    position: relative;
    overflow: visible;
    max-width: 1000px !important;
}

.ajax-success, .ajax-fail{
    display: none;
}


